[package]
name = "sd"
version = "0.4.0"
edition = "2024"

[dependencies]
anyhow = "*"
hidapi = "*"
serde = { version = "*", features = ["derive"] }
serde_yml = "*"

[profile.release]
codegen-units = 1
lto = true
opt-level = "z"
panic = "abort"
strip = true
